.account-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.account-sticky-nav-bar {
  flex: 0 0 auto;
  width: 100%;
  height: 100px;
  display: flex;
  z-index: 2;
  position: fixed;
  max-width: 100%;
  align-self: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--dl-color-gray-white);
}
.account-heading-title {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  padding: var(--dl-space-space-unit);
  max-width: var(--dl-size-size-maxwidth);
  margin-top: 125px;
  align-items: center;
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: column;
  justify-content: center;
}
.account-text {
  color: var(--dl-color-primary-100);
  margin-bottom: var(--dl-space-space-twounits);
}
.account-creator-number {
  flex: 0 0 auto;
  gap: 20px;
  width: auto;
  height: auto;
  display: flex;
  align-self: center;
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-fourunits);
  border-radius: var(--dl-radius-radius-round40);
  margin-bottom: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-fourunits);
  padding-bottom: var(--dl-space-space-unit);
  justify-content: center;
  background-color: var(--dl-color-gray-900);
}
.account-text01 {
  color: var(--dl-color-gray-black);
  font-size: 18px;
}
.account-text02 {
  color: var(--dl-color-primary-100);
  font-size: 22px;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-twounits);
  border-radius: var(--dl-radius-radius-radius20);
  padding-right: var(--dl-space-space-twounits);
  padding-bottom: var(--dl-space-space-halfunit);
  background-color: var(--dl-color-gray-white);
}
.account-container1 {
  width: 100%;
  height: 35px;
  display: flex;
  align-items: center;
  padding-left: var(--dl-space-space-sixunits);
  padding-right: var(--dl-space-space-sixunits);
  justify-content: space-between;
}
.account-text03 {
  color: var(--dl-color-primary-100);
  font-style: normal;
  font-weight: 700;
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.account-text04 {
  color: var(--dl-color-primary-100);
  font-style: normal;
  font-weight: 700;
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.account-text05 {
  margin-top: var(--dl-space-space-twounits);
  margin-left: var(--dl-space-space-fourunits);
  margin-right: var(--dl-space-space-fourunits);
  margin-bottom: var(--dl-space-space-halfunit);
}
.account-subtitle {
  flex: 0 0 auto;
  width: 100%;
  height: 65px;
  display: flex;
  padding: var(--dl-space-space-unit);
  max-width: var(--dl-size-size-maxwidth);
  align-self: center;
  margin-top: 0px;
  align-items: center;
  margin-bottom: var(--dl-space-space-twounits);
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-primary-100);
}
.account-text06 {
  color: var(--dl-color-primary-300);
  width: auto;
  font-size: 22px;
  font-style: normal;
  text-align: center;
  font-weight: 400;
  padding-right: 0px;
}
.account-container2 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: flex-start;
  flex-direction: column;
}
.account-image {
  width: var(--dl-size-size-small);
  height: var(--dl-size-size-small);
  object-fit: cover;
}
.account-icon {
  width: var(--dl-size-size-small);
  height: var(--dl-size-size-small);
}
.account-icon2 {
  width: var(--dl-size-size-small);
  height: var(--dl-size-size-small);
}
.account-icon4 {
  width: var(--dl-size-size-small);
  height: var(--dl-size-size-small);
}
.account-icon6 {
  width: var(--dl-size-size-small);
  height: var(--dl-size-size-small);
}
.account-subtitle1 {
  flex: 0 0 auto;
  width: 100%;
  height: 65px;
  display: flex;
  padding: var(--dl-space-space-unit);
  max-width: var(--dl-size-size-maxwidth);
  align-self: center;
  margin-top: var(--dl-space-space-fiveunits);
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-primary-100);
}
.account-text07 {
  color: var(--dl-color-primary-300);
  width: auto;
  font-size: 22px;
  font-style: normal;
  text-align: center;
  font-weight: 400;
  padding-right: 0px;
}
.account-user-info {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: flex-start;
  margin-left: 0px;
  padding-left: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-fiveunits);
  flex-direction: column;
}
.account-name {
  width: 100%;
  height: 75px;
  display: flex;
  padding: var(--dl-space-space-unit);
  align-items: center;
  border-color: var(--dl-color-gray-700);
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius20);
  margin-bottom: var(--dl-space-space-twounits);
  justify-content: flex-start;
}
.account-container3 {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.account-text08 {
  width: var(--dl-size-size-xlarge);
  padding-right: var(--dl-space-space-unit);
}
.account-text09 {
  color: var(--dl-color-primary-100);
}
.account-mobile {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-unit);
  align-self: center;
  align-items: flex-start;
  border-color: var(--dl-color-gray-700);
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius20);
  margin-bottom: var(--dl-space-space-twounits);
  flex-direction: column;
  justify-content: center;
}
.account-container4 {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.account-text10 {
  width: var(--dl-size-size-xlarge);
  padding-right: var(--dl-space-space-unit);
}
.account-text11 {
  color: var(--dl-color-primary-100);
}
.account-mobile-rules {
  color: var(--dl-color-gray-500);
  width: auto;
  font-size: 12px;
  margin-top: var(--dl-space-space-halfunit);
}
.account-button {
  color: var(--dl-color-primary-100);
  width: var(--dl-size-size-large);
  height: var(--dl-size-size-small);
  padding: var(--dl-space-space-halfunit);
  align-self: flex-start;
  margin-top: var(--dl-space-space-unit);
  border-color: var(--dl-color-primary-100);
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius10);
  padding-right: 8px;
  background-color: transparent;
}
.account-email {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-unit);
  align-self: center;
  align-items: flex-start;
  border-color: var(--dl-color-gray-700);
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius20);
  margin-bottom: var(--dl-space-space-twounits);
  flex-direction: column;
  justify-content: center;
}
.account-container5 {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.account-text14 {
  width: var(--dl-size-size-xlarge);
  padding-right: var(--dl-space-space-unit);
}
.account-text15 {
  color: var(--dl-color-primary-100);
}
.account-button1 {
  color: var(--dl-color-primary-100);
  width: var(--dl-size-size-large);
  height: var(--dl-size-size-small);
  padding: var(--dl-space-space-halfunit);
  align-self: flex-start;
  margin-top: var(--dl-space-space-unit);
  border-color: var(--dl-color-primary-100);
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius10);
  padding-right: 8px;
  background-color: transparent;
}
.account-change-password {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-unit);
  align-self: center;
  align-items: flex-start;
  border-color: var(--dl-color-gray-700);
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius20);
  flex-direction: column;
  justify-content: center;
}
.account-container6 {
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-unit);
  justify-content: flex-start;
}
.account-text16 {
  width: var(--dl-size-size-xlarge);
  font-style: normal;
  font-weight: 700;
  padding-right: var(--dl-space-space-unit);
}
.account-password-rules {
  color: var(--dl-color-gray-500);
  width: auto;
  font-size: 14px;
  margin-bottom: var(--dl-space-space-unit);
}
.account-container7 {
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-unit);
  justify-content: flex-start;
}
.account-text17 {
  width: var(--dl-size-size-xlarge);
  padding-right: var(--dl-space-space-unit);
}
.account-textinput {
  border-radius: var(--dl-radius-radius-radius10);
}
.account-container8 {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.account-text18 {
  width: var(--dl-size-size-xlarge);
  padding-right: var(--dl-space-space-unit);
}
.account-textinput1 {
  border-radius: var(--dl-radius-radius-radius10);
}
.account-button2 {
  color: var(--dl-color-primary-300);
  width: var(--dl-size-size-large);
  height: var(--dl-size-size-small);
  padding: var(--dl-space-space-halfunit);
  align-self: flex-start;
  margin-top: var(--dl-space-space-unit);
  border-width: 0px;
  border-radius: var(--dl-radius-radius-radius10);
  padding-right: 8px;
  background-color: var(--dl-color-primary-100);
}

.account-button:disabled {
  cursor: not-allowed;
}

@media (max-width: 1200px) {
  .account-sticky-nav-bar {
    align-items: center;
  }
  .account-text01 {
    color: var(--dl-color-gray-black);
  }
}
@media (max-width: 991px) {
  .account-text05 {
    margin-top: var(--dl-space-space-twounits);
  }
  .account-subtitle {
    width: 100%;
    padding: var(--dl-space-space-unit);
    align-items: flex-start;
  }
  .account-subtitle1 {
    width: 100%;
    padding: var(--dl-space-space-unit);
    align-items: flex-start;
  }
  .account-text09 {
    color: var(--dl-color-primary-100);
  }
  .account-mobile {
    width: 100%;
    padding: var(--dl-space-space-unit);
    align-items: flex-start;
  }
  .account-container4 {
    align-items: center;
    justify-content: flex-start;
  }
  .account-text11 {
    color: var(--dl-color-primary-100);
  }
  .account-button {
    color: var(--dl-color-primary-100);
    margin-top: var(--dl-space-space-unit);
    font-family: Inter;
    margin-left: 0px;
    padding-top: var(--dl-space-space-halfunit);
    border-width: 1px;
    border-radius: var(--dl-radius-radius-radius10);
    padding-bottom: var(--dl-space-space-halfunit);
    background-color: transparent;
  }
  .account-email {
    width: 100%;
    padding: var(--dl-space-space-unit);
    align-items: flex-start;
  }
  .account-container5 {
    align-items: center;
    justify-content: flex-start;
  }
  .account-text15 {
    color: var(--dl-color-primary-100);
  }
  .account-button1 {
    color: var(--dl-color-primary-100);
    margin-top: var(--dl-space-space-unit);
    font-family: Inter;
    margin-left: 0px;
    padding-top: var(--dl-space-space-halfunit);
    border-width: 1px;
    border-radius: var(--dl-radius-radius-radius10);
    padding-bottom: var(--dl-space-space-halfunit);
    background-color: transparent;
  }
  .account-change-password {
    width: 100%;
    padding: var(--dl-space-space-unit);
    align-items: flex-start;
  }
  .account-container6 {
    align-items: center;
    justify-content: flex-start;
  }
  .account-button2 {
    color: var(--dl-color-primary-100);
    margin-top: var(--dl-space-space-unit);
    font-family: Inter;
    margin-left: 0px;
    padding-top: var(--dl-space-space-halfunit);
    border-width: 1px;
    border-radius: var(--dl-radius-radius-radius10);
    padding-bottom: var(--dl-space-space-halfunit);
    background-color: transparent;
  }

  .account-creator-number {
    flex-direction: column;
    width: 100%;
  }

  .account-textinput,
  .account-textinput1 {
    width: 100%;
  }
}
@media (max-width: 479px) {
  .account-sticky-nav-bar {
    height: 70px;
  }
  .account-heading-title {
    margin-top: 70px;
    padding-top: var(--dl-space-space-twounits);
  }
  .account-container1 {
    align-items: center;
    padding-left: 0px;
    padding-right: 0px;
  }
  .account-text03 {
    align-self: center;
    margin-bottom: 0px;
  }
  .account-text04 {
    margin-bottom: 0px;
  }
  .account-text05 {
    margin-top: var(--dl-space-space-twounits);
    margin-bottom: 0px;
  }
  .account-subtitle {
    align-items: flex-start;
  }
  .account-subtitle1 {
    align-items: flex-start;
  }
  .account-user-info {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .account-name {
    flex-wrap: wrap;
    align-self: center;
    margin-bottom: var(--dl-space-space-twounits);
    justify-content: flex-start;
  }
  .account-text08 {
    width: var(--dl-size-size-medium);
  }
  .account-mobile {
    flex-wrap: wrap;
    align-items: flex-start;
    margin-bottom: var(--dl-space-space-twounits);
  }
  .account-text10 {
    width: var(--dl-size-size-medium);
  }
  .account-mobile-rules {
    width: 100%;
    padding-left: 0px;
    padding-right: 0px;
  }
  .account-button {
    align-self: flex-end;
  }
  .account-email {
    align-items: flex-start;
    margin-bottom: var(--dl-space-space-twounits);
  }
  .account-text14 {
    width: var(--dl-size-size-medium);
  }
  .account-button1 {
    align-self: flex-end;
  }
  .account-change-password {
    align-items: flex-start;
  }
  .account-password-rules {
    width: 100%;
    padding-left: 0px;
    padding-right: 0px;
  }
  .account-container7 {
    flex-wrap: wrap;
  }
  .account-text17 {
    padding-bottom: var(--dl-space-space-halfunit);
  }
  .account-container8 {
    flex-wrap: wrap;
  }
  .account-text18 {
    padding-bottom: var(--dl-space-space-halfunit);
  }
  .account-button2 {
    color: var(--dl-color-primary-300);
    align-self: flex-end;
    border-width: 0px;
    background-color: var(--dl-color-primary-100);
  }

  .account-creator-number {
    flex-direction: column;
    width: 100%;
  }

  .account-textinput,
  .account-textinput1 {
    width: 100%;
  }
}
