.my-stats-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.my-stats-sticky-nav-bar {
  flex: 0 0 auto;
  width: 100%;
  height: 100px;
  display: flex;
  z-index: 1002;
  position: fixed;
  max-width: 100%;
  align-self: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--dl-color-gray-white);
}
.my-stats-heading-title {
  flex: 0 0 auto;
  width: 100%;
  height: 100px;
  display: flex;
  padding: var(--dl-space-space-halfunit);
  margin-top: 125px;
  align-items: center;
  margin-bottom: var(--dl-space-space-halfunit);
  flex-direction: column;
  justify-content: center;
}
.my-stats-text {
  color: var(--dl-color-primary-100);
  margin-bottom: var(--dl-space-space-twounits);
}
.my-stats-my-stats1 {
  width: 100%;
  display: grid;
  padding: var(--dl-space-space-threeunits);
  grid-gap: var(--dl-space-space-twounits);
  max-width: var(--dl-size-size-maxwidth);
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.my-stats-stat {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.my-stats-icon {
  fill: var(--dl-color-primary-100);
  width: var(--dl-size-size-small);
  height: var(--dl-size-size-small);
}
.my-stats-text01 {
  color: var(--dl-color-primary-100);
  margin-top: var(--dl-space-space-halfunit);
}
.my-stats-text02 {
  font-style: normal;
  margin-top: var(--dl-space-space-halfunit);
  text-align: center;
}
.my-stats-text03 {
  color: var(--dl-color-gray-500);
  font-size: 0.75rem;
  margin-top: var(--dl-space-space-halfunit);
  text-align: center;
}
.my-stats-stat1 {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.my-stats-icon02 {
  fill: var(--dl-color-primary-100);
  width: var(--dl-size-size-small);
  height: var(--dl-size-size-small);
}
.my-stats-text04 {
  color: var(--dl-color-primary-100);
  font-size: 32px;
  font-style: normal;
  margin-top: var(--dl-space-space-halfunit);
  font-family: Inter;
  font-weight: 700;
  line-height: 1.15;
  text-transform: none;
  text-decoration: none;
}
.my-stats-text05 {
  font-style: normal;
  margin-top: var(--dl-space-space-halfunit);
  text-align: center;
}
.my-stats-text06 {
  color: var(--dl-color-gray-500);
  font-size: 0.75rem;
  margin-top: var(--dl-space-space-halfunit);
  text-align: center;
}
.my-stats-stat2 {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.my-stats-icon04 {
  fill: var(--dl-color-primary-100);
  width: var(--dl-size-size-small);
  height: var(--dl-size-size-small);
}
.my-stats-text07 {
  color: var(--dl-color-primary-100);
  font-size: 32px;
  font-style: normal;
  margin-top: var(--dl-space-space-halfunit);
  font-family: Inter;
  font-weight: 700;
  line-height: 1.15;
  text-transform: none;
  text-decoration: none;
}
.my-stats-text08 {
  font-style: normal;
  margin-top: var(--dl-space-space-halfunit);
  text-align: center;
}
.my-stats-text09 {
  color: var(--dl-color-gray-500);
  font-size: 0.75rem;
  margin-top: var(--dl-space-space-halfunit);
  text-align: center;
}
.my-stats-stat3 {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.my-stats-icon06 {
  fill: var(--dl-color-primary-100);
  width: var(--dl-size-size-small);
  height: var(--dl-size-size-small);
}
.my-stats-text10 {
  color: var(--dl-color-primary-100);
  font-size: 32px;
  font-style: normal;
  margin-top: var(--dl-space-space-halfunit);
  font-family: Inter;
  font-weight: 700;
  line-height: 1.15;
  text-transform: none;
  text-decoration: none;
}
.my-stats-text11 {
  font-style: normal;
  margin-top: var(--dl-space-space-halfunit);
  text-align: center;
}
.my-stats-text12 {
  color: var(--dl-color-gray-500);
  font-size: 0.75rem;
  margin-top: var(--dl-space-space-halfunit);
  text-align: center;
}
.my-stats-challenge-title {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-unit);
  justify-content: center;
  background-color: var(--dl-color-primary-100);
}
.my-stats-text13 {
  color: var(--dl-color-primary-300);
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  margin-bottom: var(--dl-space-space-twounits);
}
.my-stats-data {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-oneandhalfunits);
  border-radius: var(--dl-radius-radius-radius20);
  padding-right: var(--dl-space-space-oneandhalfunits);
  padding-bottom: var(--dl-space-space-unit);
  justify-content: center;
  background-color: var(--dl-color-gray-white);
}
.my-stats-text14 {
  text-align: right;
  margin-right: var(--dl-space-space-twounits);
}
.my-stats-text15 {
  color: var(--dl-color-primary-100);
  font-size: 16px;
  font-style: normal;
  font-family: Inter;
  font-weight: 500;
  line-height: 1.15;
  text-transform: none;
  text-decoration: none;
}
.my-stats-my-stats2 {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-unit);
  max-width: var(--dl-size-size-maxwidth);
  justify-content: center;
  background-color: var(--dl-color-primary-100);
}
.my-stats-stat4 {
  display: flex;
  padding: var(--dl-space-space-twounits);
  align-items: center;
  flex-direction: column;
}
.my-stats-icon08 {
  fill: var(--dl-color-primary-300);
  width: var(--dl-size-size-small);
  height: var(--dl-size-size-small);
}
.my-stats-text16 {
  color: var(--dl-color-primary-300);
  margin-top: var(--dl-space-space-halfunit);
}
.my-stats-text18 {
  color: var(--dl-color-primary-500);
  font-style: normal;
  margin-top: var(--dl-space-space-halfunit);
  text-align: center;
}
.my-stats-text19 {
  color: var(--dl-color-primary-500);
  font-size: 0.75rem;
  margin-top: var(--dl-space-space-halfunit);
  text-align: center;
}
.my-stats-stat5 {
  display: flex;
  padding: var(--dl-space-space-twounits);
  align-items: center;
  padding-top: 32px;
  flex-direction: column;
}
.my-stats-icon10 {
  fill: var(--dl-color-primary-300);
  width: var(--dl-size-size-small);
  height: var(--dl-size-size-small);
}
.my-stats-text20 {
  color: var(--dl-color-primary-300);
  margin-top: var(--dl-space-space-halfunit);
}
.my-stats-text21 {
  font-style: normal;
  margin-top: var(--dl-space-space-halfunit);
  text-align: center;
}
.my-stats-text22 {
  color: var(--dl-color-primary-500);
  font-size: 0.75rem;
  margin-top: var(--dl-space-space-halfunit);
  text-align: center;
}
.my-stats-stat6 {
  display: flex;
  padding: var(--dl-space-space-twounits);
  align-items: center;
  flex-direction: column;
}
.my-stats-container1 {
  flex: 0 0 auto;
  width: auto;
  height: Small;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.my-stats-icon12 {
  fill: var(--dl-color-primary-300);
  width: var(--dl-size-size-small);
  height: var(--dl-size-size-small);
}
.my-stats-text23 {
  color: var(--dl-color-primary-300);
  margin-top: var(--dl-space-space-halfunit);
}
.my-stats-text24 {
  font-style: normal;
  margin-top: var(--dl-space-space-halfunit);
  text-align: center;
}
.my-stats-text25 {
  color: var(--dl-color-primary-500);
  font-size: 0.75rem;
  margin-top: var(--dl-space-space-halfunit);
  text-align: center;
}
.my-stats-rules {
  flex: 0 0 auto;
  width: 70%;
  height: auto;
  display: flex;
  padding: var(--dl-space-space-unit);
  margin-top: var(--dl-space-space-twounits);
  flex-direction: column;
  justify-content: center;
}
.my-stats-rules1 {
  color: var(--dl-color-primary-500);
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-fourunits);
  border-radius: var(--dl-radius-radius-radius20);
  padding-right: var(--dl-space-space-fourunits);
  padding-bottom: var(--dl-space-space-unit);
  background-color: var(--dl-color-gray-900);
}
@media(max-width: 991px) {
  .my-stats-text01 {
    text-align: center;
  }
  .my-stats-text03 {
    color: var(--dl-color-gray-500);
    font-size: 0.75rem;
  }
  .my-stats-text04 {
    text-align: center;
  }
  .my-stats-text07 {
    text-align: center;
  }
  .my-stats-text10 {
    text-align: center;
  }
  .my-stats-data {
    align-items: center;
    padding-top: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-unit);
    justify-content: flex-start;
  }
  .my-stats-text15 {
    color: var(--dl-color-primary-100);
  }
  .my-stats-rules {
    height: auto;
    align-items: flex-start;
    justify-content: center;
  }
}
@media(max-width: 767px) {
  .my-stats-my-stats1 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
    grid-template-columns: 1fr 1fr;
  }
  .my-stats-text02 {
    text-align: center;
  }
  .my-stats-text05 {
    text-align: center;
  }
  .my-stats-text08 {
    text-align: center;
  }
  .my-stats-text11 {
    text-align: center;
  }
  .my-stats-my-stats2 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .my-stats-stat4 {
    padding: var(--dl-space-space-unit);
  }
  .my-stats-text18 {
    text-align: center;
  }
  .my-stats-stat5 {
    padding: var(--dl-space-space-unit);
  }
  .my-stats-text21 {
    text-align: center;
  }
  .my-stats-stat6 {
    padding: var(--dl-space-space-unit);
  }
  .my-stats-text24 {
    text-align: center;
  }
}
@media(max-width: 479px) {
  .my-stats-sticky-nav-bar {
    height: 70px;
  }
  .my-stats-heading-title {
    margin-top: 70px;
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-unit);
  }
  .my-stats-my-stats1 {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
    grid-template-columns: 1fr;
  }
  .my-stats-text03 {
    font-size: 1rem;
  }
  .my-stats-text06 {
    font-size: 1rem;
  }
  .my-stats-text09 {
    font-size: 1rem;
  }
  .my-stats-text12 {
    font-size: 1rem;
  }
  .my-stats-challenge-title {
    align-items: center;
  }
  .my-stats-data {
    align-self: center;
    align-items: center;
    justify-content: flex-start;
  }
  .my-stats-my-stats2 {
    align-items: center;
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    flex-direction: column;
    padding-bottom: var(--dl-space-space-twounits);
  }
  .my-stats-text19 {
    font-size: 1rem;
  }
  .my-stats-text22 {
    font-size: 1rem;
  }
  .my-stats-text25 {
    font-size: 1rem;
  }
  .my-stats-rules {
    width: 100%;
  }
  .my-stats-rules1 {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
}
