.new-user-pop-up-container {
  width: 100%;
  display: flex;
  overflow: auto;
  height: 100%;
  align-items: center;
  flex-direction: column;
  position: absolute;
  background-color: #00000033;
  z-index: 100;
}
.new-user-pop-up-container1 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  padding: var(--dl-space-space-twounits);
  box-shadow: 5px 5px 10px 0px #969595;
  margin-top: var(--dl-space-space-sixunits);
  align-items: center;
  border-color: var(--dl-color-gray-500);
  border-style: solid;
  border-width: 2px;
  border-radius: var(--dl-radius-radius-radius20);
  margin-bottom: 0px;
  flex-direction: column;
  background-color: white;
}
.new-user-pop-up-text {
  font-style: normal;
  text-align: center;
  font-weight: 700;
  margin-bottom: var(--dl-space-space-twounits);
}
.new-user-pop-up-text1 {
  width: var(--dl-size-size-xxlarge);
  text-align: center;
  margin-bottom: var(--dl-space-space-twounits);
}
.new-user-pop-up-text2 {
  width: var(--dl-size-size-xxlarge);
  align-self: center;
  text-align: left;
  margin-bottom: 0px;
}
.new-user-pop-up-textinput {
  width: var(--dl-size-size-xxlarge);
  margin-top: 16px;
  margin-left: 0px;
  margin-right: 0px;
  border-radius: var(--dl-radius-radius-radius10);
  margin-bottom: 16px;
}
.new-user-pop-up-text3 {
  width: var(--dl-size-size-xxlarge);
  align-self: center;
  margin-top: var(--dl-space-space-unit);
  text-align: left;
  margin-bottom: 0px;
}
.new-user-pop-up-textinput1 {
  width: var(--dl-size-size-xxlarge);
  margin-top: 16px;
  margin-left: 0px;
  margin-right: 0px;
  border-radius: var(--dl-radius-radius-radius10);
  margin-bottom: 16px;
}
.new-user-pop-up-text4 {
  width: var(--dl-size-size-xxlarge);
  align-self: center;
  margin-top: var(--dl-space-space-unit);
  text-align: left;
  margin-bottom: 0px;
}
.new-user-pop-up-textinput2 {
  width: var(--dl-size-size-xxlarge);
  margin-top: 16px;
  margin-left: 0px;
  margin-right: 0px;
  border-radius: var(--dl-radius-radius-radius10);
  margin-bottom: 16px;
}
.new-user-pop-up-text5 {
  width: var(--dl-size-size-xxlarge);
  align-self: center;
  margin-top: var(--dl-space-space-unit);
  text-align: left;
  margin-bottom: 0px;
}
.new-user-pop-up-textinput3 {
  width: var(--dl-size-size-xxlarge);
  margin-top: 16px;
  margin-left: 0px;
  margin-right: 0px;
  border-radius: var(--dl-radius-radius-radius10);
  margin-bottom: 16px;
}
.new-user-pop-up-creator {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-self: flex-start;
  margin-top: var(--dl-space-space-unit);
  align-items: center;
  justify-content: flex-start;
}
.new-user-pop-up-radiobutton {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
}
.new-user-pop-up-admin {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-self: flex-start;
  margin-top: var(--dl-space-space-twounits);
  align-items: center;
  justify-content: flex-start;
}
.new-user-pop-up-radiobutton1 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
}
.new-user-pop-up-navlink {
  color: var(--dl-color-primary-300);
  width: 216px;
  height: var(--dl-size-size-small);
  align-self: center;
  margin-top: var(--dl-space-space-twounits);
  margin-left: 0px;
  border-width: 0px;
  border-radius: var(--dl-radius-radius-radius10);
  text-decoration: none;
  background-color: var(--dl-color-primary-100);
}
.new-user-pop-up-navlink1 {
  color: var(--dl-color-primary-100);
  width: 216px;
  height: var(--dl-size-size-small);
  align-self: center;
  margin-top: var(--dl-space-space-twounits);
  margin-left: 0px;
  border-color: var(--dl-color-primary-100);
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius10);
  text-decoration: none;
  background-color: var(--dl-color-primary-300);
}
@media(max-width: 991px) {
  .new-user-pop-up-navlink {
    border-radius: var(--dl-radius-radius-radius10);
  }
  .new-user-pop-up-navlink1 {
    border-radius: var(--dl-radius-radius-radius10);
  }
}
@media(max-width: 479px) {
  .new-user-pop-up-navlink {
    color: var(--dl-color-primary-300);
    background-color: var(--dl-color-primary-100);
  }
  .new-user-pop-up-navlink1 {
    color: var(--dl-color-primary-300);
    background-color: var(--dl-color-primary-100);
  }
}
