.terms-privacy-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.terms-privacy-sticky-nav-bar {
  flex: 0 0 auto;
  width: 100%;
  height: 100px;
  display: flex;
  z-index: 2;
  position: fixed;
  max-width: 100%;
  align-self: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--dl-color-gray-white);
}
.terms-privacy-heading-title {
  flex: 0 0 auto;
  width: 100%;
  height: 100px;
  display: flex;
  padding: var(--dl-space-space-halfunit);
  margin-top: 125px;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  flex-direction: column;
  justify-content: center;
}
.terms-privacy-text {
  color: var(--dl-color-primary-100);
  margin-bottom: var(--dl-space-space-twounits);
}
.terms-privacy-container1 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-twounits);
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.terms-privacy-terms {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-fourunits);
  flex-direction: column;
  justify-content: center;
}
.terms-privacy-text2 {
  font-size: 24px;
  font-style: normal;
  font-family: Arial;
  font-weight: 700;
  padding-bottom: var(--dl-space-space-twounits);
  text-transform: none;
  text-decoration: none;
}
.terms-privacy-text3 {
  font-size: 13px;
  text-align: left;
}
.terms-privacy-terms1 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-fourunits);
  flex-direction: column;
  justify-content: center;
}
.terms-privacy-text4 {
  font-size: 24px;
  font-style: normal;
  font-family: Arial;
  font-weight: 700;
  padding-bottom: var(--dl-space-space-twounits);
  text-transform: none;
  text-decoration: none;
}
.terms-privacy-text5 {
  font-size: 13px;
  text-align: left;
}
