.users-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.users-container1 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  padding: var(--dl-space-space-halfunit);
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  flex-direction: column;
  justify-content: center;
}
.users-text {
  margin-bottom: var(--dl-space-space-twounits);
}
.users-button {
  color: var(--dl-color-primary-100);
  width: var(--dl-size-size-xlarge);
  height: var(--dl-size-size-small);
  font-style: normal;
  font-weight: 500;
  border-color: var(--dl-color-primary-100);
  border-radius: var(--dl-radius-radius-radius10);
}
.users-table-header {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  padding-top: 0px;
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: 0px;
  justify-content: flex-start;
  background-color: var(--dl-color-primary-500);
}
.users-user-id {
  flex: 0 0 auto;
  width: 12%;
  height: 60px;
  display: flex;
  align-items: center;
  border-color: var(--dl-color-gray-900);
  border-width: 1px;
  padding-left: var(--dl-space-space-halfunit);
  padding-right: var(--dl-space-space-halfunit);
  flex-direction: column;
  justify-content: center;
}
.users-text01 {
  color: var(--dl-color-primary-300);
  font-style: normal;
  font-weight: 500;
}
.users-type {
  flex: 0 0 auto;
  width: 4%;
  height: 60px;
  display: flex;
  align-items: center;
  border-color: var(--dl-color-gray-900);
  border-width: 1px;
  padding-left: var(--dl-space-space-halfunit);
  padding-right: var(--dl-space-space-halfunit);
  flex-direction: column;
  justify-content: center;
}
.users-text02 {
  color: var(--dl-color-primary-300);
  font-style: normal;
  font-weight: 500;
}
.users-uploads {
  flex: 0 0 auto;
  width: 10%;
  height: 60px;
  display: flex;
  align-items: center;
  border-color: var(--dl-color-gray-900);
  border-width: 1px;
  padding-left: var(--dl-space-space-halfunit);
  padding-right: var(--dl-space-space-halfunit);
  flex-direction: column;
  justify-content: center;
}
.users-text03 {
  color: var(--dl-color-primary-300);
  font-style: normal;
  font-weight: 500;
}
.users-downloads {
  flex: 0 0 auto;
  width: 10%;
  height: 60px;
  display: flex;
  align-items: center;
  border-color: var(--dl-color-gray-900);
  border-width: 1px;
  padding-left: var(--dl-space-space-halfunit);
  padding-right: var(--dl-space-space-halfunit);
  flex-direction: column;
  justify-content: center;
}
.users-text04 {
  color: var(--dl-color-primary-300);
  font-style: normal;
  font-weight: 500;
}
.users-views {
  flex: 0 0 auto;
  width: 10%;
  height: 60px;
  display: flex;
  align-items: center;
  border-color: var(--dl-color-gray-900);
  border-width: 1px;
  padding-left: var(--dl-space-space-halfunit);
  padding-right: var(--dl-space-space-halfunit);
  flex-direction: column;
  justify-content: center;
}
.users-text05 {
  color: var(--dl-color-primary-300);
  font-style: normal;
  font-weight: 500;
}
.users-likes {
  flex: 0 0 auto;
  width: 10%;
  height: 60px;
  display: flex;
  align-items: center;
  border-color: var(--dl-color-gray-900);
  border-width: 1px;
  padding-left: var(--dl-space-space-halfunit);
  padding-right: var(--dl-space-space-halfunit);
  flex-direction: column;
  justify-content: center;
}
.users-text06 {
  color: var(--dl-color-primary-300);
  font-style: normal;
  font-weight: 500;
}
.users-tt {
  flex: 0 0 auto;
  width: 4%;
  height: 60px;
  display: flex;
  align-items: center;
  border-color: var(--dl-color-gray-900);
  border-width: 1px;
  padding-left: var(--dl-space-space-halfunit);
  padding-right: var(--dl-space-space-halfunit);
  flex-direction: row;
  justify-content: center;
}
.users-image {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  object-fit: cover;
}
.users-yt {
  flex: 0 0 auto;
  width: 4%;
  height: 60px;
  display: flex;
  align-items: center;
  border-color: var(--dl-color-gray-900);
  border-width: 1px;
  padding-left: var(--dl-space-space-halfunit);
  padding-right: var(--dl-space-space-halfunit);
  flex-direction: column;
  justify-content: center;
}
.users-icon {
  fill: var(--dl-color-primary-300);
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.users-fb {
  flex: 0 0 auto;
  width: 4%;
  height: 60px;
  display: flex;
  align-items: center;
  border-color: var(--dl-color-gray-900);
  border-width: 1px;
  padding-left: var(--dl-space-space-halfunit);
  padding-right: var(--dl-space-space-halfunit);
  flex-direction: column;
  justify-content: center;
}
.users-icon2 {
  fill: var(--dl-color-primary-300);
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.users-tt01 {
  flex: 0 0 auto;
  width: 4%;
  height: 60px;
  display: flex;
  align-items: center;
  border-color: var(--dl-color-gray-900);
  border-width: 1px;
  padding-left: var(--dl-space-space-halfunit);
  padding-right: var(--dl-space-space-halfunit);
  flex-direction: column;
  justify-content: center;
}
.users-icon4 {
  fill: var(--dl-color-primary-300);
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.users-tt02 {
  flex: 0 0 auto;
  width: 4%;
  height: 60px;
  display: flex;
  align-items: center;
  border-color: var(--dl-color-gray-900);
  border-width: 1px;
  padding-left: var(--dl-space-space-halfunit);
  padding-right: var(--dl-space-space-halfunit);
  flex-direction: column;
  justify-content: center;
}
.users-icon6 {
  fill: var(--dl-color-primary-300);
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.users-likes01 {
  flex: 0 0 auto;
  width: 10%;
  height: 60px;
  display: flex;
  align-items: center;
  border-color: var(--dl-color-gray-900);
  border-width: 1px;
  padding-left: var(--dl-space-space-halfunit);
  padding-right: var(--dl-space-space-halfunit);
  flex-direction: column;
  justify-content: center;
}
.users-text07 {
  color: var(--dl-color-primary-300);
  font-style: normal;
  font-weight: 500;
}
.users-vids-40-days {
  flex: 0 0 auto;
  width: 10%;
  height: 60px;
  display: flex;
  align-items: center;
  border-color: var(--dl-color-gray-900);
  border-width: 1px;
  padding-left: var(--dl-space-space-halfunit);
  padding-right: var(--dl-space-space-halfunit);
  flex-direction: column;
  justify-content: center;
}
.users-text08 {
  color: var(--dl-color-primary-300);
  font-style: normal;
  font-weight: 500;
}
.users-status {
  flex: 0 0 auto;
  width: 4%;
  height: 60px;
  display: flex;
  align-items: center;
  border-color: var(--dl-color-gray-900);
  border-width: 1px;
  padding-left: var(--dl-space-space-halfunit);
  padding-right: var(--dl-space-space-halfunit);
  flex-direction: column;
  justify-content: center;
}
.users-text09 {
  color: var(--dl-color-primary-300);
  font-style: normal;
  font-weight: 500;
}
.users-table-body {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  padding-top: 0t;
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-unit);
}
.users-table-row {
  flex: 0 0 auto;
  width: 100%;
  height: var(--dl-size-size-small);
  display: flex;
  align-items: center;
  padding-top: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  justify-content: flex-start;
}
.users-user-id1 {
  flex: 0 0 auto;
  width: 12%;
  height: var(--dl-size-size-small);
  display: flex;
  align-items: center;
  border-color: var(--dl-color-gray-500);
  border-width: 1px;
  padding-left: var(--dl-space-space-halfunit);
  padding-right: var(--dl-space-space-halfunit);
  flex-direction: column;
  justify-content: center;
}
.users-text10 {
  color: var(--dl-color-primary-500);
  align-self: flex-start;
  font-style: normal;
  font-weight: 500;
}
.users-type1 {
  flex: 0 0 auto;
  width: 4%;
  height: var(--dl-size-size-small);
  display: flex;
  align-items: center;
  border-color: var(--dl-color-gray-500);
  border-width: 1px;
  padding-left: var(--dl-space-space-halfunit);
  padding-right: var(--dl-space-space-halfunit);
  flex-direction: column;
  justify-content: center;
}
.users-text11 {
  color: var(--dl-color-primary-500);
  font-style: normal;
  font-weight: 500;
}
.users-uploads1 {
  flex: 0 0 auto;
  width: 10%;
  height: var(--dl-size-size-small);
  display: flex;
  align-items: center;
  border-color: var(--dl-color-gray-500);
  border-width: 1px;
  padding-left: var(--dl-space-space-halfunit);
  padding-right: var(--dl-space-space-halfunit);
  flex-direction: column;
  justify-content: center;
}
.users-text12 {
  color: var(--dl-color-primary-500);
  font-style: normal;
  font-weight: 500;
}
.users-downloads1 {
  flex: 0 0 auto;
  width: 10%;
  height: var(--dl-size-size-small);
  display: flex;
  align-items: center;
  border-color: var(--dl-color-gray-500);
  border-width: 1px;
  padding-left: var(--dl-space-space-halfunit);
  padding-right: var(--dl-space-space-halfunit);
  flex-direction: column;
  justify-content: center;
}
.users-text13 {
  color: var(--dl-color-primary-500);
  font-style: normal;
  font-weight: 500;
}
.users-views1 {
  flex: 0 0 auto;
  width: 10%;
  height: var(--dl-size-size-small);
  display: flex;
  align-items: center;
  border-color: var(--dl-color-gray-500);
  border-width: 1px;
  padding-left: var(--dl-space-space-halfunit);
  padding-right: var(--dl-space-space-halfunit);
  flex-direction: column;
  justify-content: center;
}
.users-text14 {
  color: var(--dl-color-primary-500);
  font-style: normal;
  font-weight: 500;
}
.users-likes02 {
  flex: 0 0 auto;
  width: 10%;
  height: var(--dl-size-size-small);
  display: flex;
  align-items: center;
  border-color: var(--dl-color-gray-500);
  border-width: 1px;
  padding-left: var(--dl-space-space-halfunit);
  padding-right: var(--dl-space-space-halfunit);
  flex-direction: column;
  justify-content: center;
}
.users-text15 {
  color: var(--dl-color-primary-500);
  font-style: normal;
  font-weight: 500;
}
.users-tt03 {
  flex: 0 0 auto;
  width: 4%;
  height: var(--dl-size-size-small);
  display: flex;
  align-items: center;
  border-color: var(--dl-color-gray-500);
  border-width: 1px;
  padding-left: var(--dl-space-space-halfunit);
  padding-right: var(--dl-space-space-halfunit);
  flex-direction: column;
  justify-content: center;
}
.users-text16 {
  color: var(--dl-color-primary-500);
  font-style: normal;
  font-weight: 500;
}
.users-yt1 {
  flex: 0 0 auto;
  width: 4%;
  height: var(--dl-size-size-small);
  display: flex;
  align-items: center;
  border-color: var(--dl-color-gray-500);
  border-width: 1px;
  padding-left: var(--dl-space-space-halfunit);
  padding-right: var(--dl-space-space-halfunit);
  flex-direction: column;
  justify-content: center;
}
.users-text17 {
  color: var(--dl-color-primary-500);
  font-style: normal;
  font-weight: 500;
}
.users-fb1 {
  flex: 0 0 auto;
  width: 4%;
  height: var(--dl-size-size-small);
  display: flex;
  align-items: center;
  border-color: var(--dl-color-gray-500);
  border-width: 1px;
  padding-left: var(--dl-space-space-halfunit);
  padding-right: var(--dl-space-space-halfunit);
  flex-direction: column;
  justify-content: center;
}
.users-text18 {
  color: var(--dl-color-primary-500);
  font-style: normal;
  font-weight: 500;
}
.users-tt04 {
  flex: 0 0 auto;
  width: 4%;
  height: var(--dl-size-size-small);
  display: flex;
  align-items: center;
  border-color: var(--dl-color-gray-500);
  border-width: 1px;
  padding-left: var(--dl-space-space-halfunit);
  padding-right: var(--dl-space-space-halfunit);
  flex-direction: column;
  justify-content: center;
}
.users-text19 {
  color: var(--dl-color-primary-500);
  font-style: normal;
  font-weight: 500;
}
.users-tt05 {
  flex: 0 0 auto;
  width: 4%;
  height: var(--dl-size-size-small);
  display: flex;
  align-items: center;
  border-color: var(--dl-color-gray-500);
  border-width: 1px;
  padding-left: var(--dl-space-space-halfunit);
  padding-right: var(--dl-space-space-halfunit);
  flex-direction: column;
  justify-content: center;
}
.users-text20 {
  color: var(--dl-color-primary-500);
  font-style: normal;
  font-weight: 500;
}
.users-likes03 {
  flex: 0 0 auto;
  width: 10%;
  height: var(--dl-size-size-small);
  display: flex;
  align-items: center;
  border-color: var(--dl-color-gray-500);
  border-width: 1px;
  padding-left: var(--dl-space-space-halfunit);
  padding-right: var(--dl-space-space-halfunit);
  flex-direction: column;
  justify-content: center;
}
.users-text21 {
  color: var(--dl-color-primary-500);
  font-style: normal;
  font-weight: 500;
}
.users-vids-40-days1 {
  flex: 0 0 auto;
  width: 10%;
  height: var(--dl-size-size-small);
  display: flex;
  align-items: center;
  border-color: var(--dl-color-gray-500);
  border-width: 1px;
  padding-left: var(--dl-space-space-halfunit);
  padding-right: var(--dl-space-space-halfunit);
  flex-direction: column;
  justify-content: center;
}
.users-text22 {
  color: var(--dl-color-primary-500);
  font-style: normal;
  font-weight: 500;
}
.users-status1 {
  flex: 0 0 auto;
  width: 4%;
  height: var(--dl-size-size-small);
  display: flex;
  align-items: center;
  border-color: var(--dl-color-gray-500);
  border-width: 1px;
  padding-left: var(--dl-space-space-halfunit);
  padding-right: var(--dl-space-space-halfunit);
  flex-direction: column;
  justify-content: center;
}
.users-text23 {
  color: var(--dl-color-primary-500);
  font-style: normal;
  font-weight: 500;
}
.users-table-row1 {
  flex: 0 0 auto;
  width: 100%;
  height: var(--dl-size-size-small);
  display: flex;
  align-items: center;
  padding-top: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  justify-content: flex-start;
}
.users-user-id2 {
  flex: 0 0 auto;
  width: 12%;
  height: var(--dl-size-size-small);
  display: flex;
  align-items: center;
  border-color: var(--dl-color-gray-500);
  border-width: 1px;
  padding-left: var(--dl-space-space-halfunit);
  padding-right: var(--dl-space-space-halfunit);
  flex-direction: column;
  justify-content: center;
}
.users-text24 {
  color: var(--dl-color-primary-500);
  align-self: flex-start;
  font-style: normal;
  font-weight: 500;
}
.users-type2 {
  flex: 0 0 auto;
  width: 4%;
  height: var(--dl-size-size-small);
  display: flex;
  align-items: center;
  border-color: var(--dl-color-gray-500);
  border-width: 1px;
  padding-left: var(--dl-space-space-halfunit);
  padding-right: var(--dl-space-space-halfunit);
  flex-direction: column;
  justify-content: center;
}
.users-text25 {
  color: var(--dl-color-primary-500);
  font-style: normal;
  font-weight: 500;
}
.users-uploads2 {
  flex: 0 0 auto;
  width: 10%;
  height: var(--dl-size-size-small);
  display: flex;
  align-items: center;
  border-color: var(--dl-color-gray-500);
  border-width: 1px;
  padding-left: var(--dl-space-space-halfunit);
  padding-right: var(--dl-space-space-halfunit);
  flex-direction: column;
  justify-content: center;
}
.users-text26 {
  color: var(--dl-color-primary-500);
  font-style: normal;
  font-weight: 500;
}
.users-downloads2 {
  flex: 0 0 auto;
  width: 10%;
  height: var(--dl-size-size-small);
  display: flex;
  align-items: center;
  border-color: var(--dl-color-gray-500);
  border-width: 1px;
  padding-left: var(--dl-space-space-halfunit);
  padding-right: var(--dl-space-space-halfunit);
  flex-direction: column;
  justify-content: center;
}
.users-text27 {
  color: var(--dl-color-primary-500);
  font-style: normal;
  font-weight: 500;
}
.users-views2 {
  flex: 0 0 auto;
  width: 10%;
  height: var(--dl-size-size-small);
  display: flex;
  align-items: center;
  border-color: var(--dl-color-gray-500);
  border-width: 1px;
  padding-left: var(--dl-space-space-halfunit);
  padding-right: var(--dl-space-space-halfunit);
  flex-direction: column;
  justify-content: center;
}
.users-text28 {
  color: var(--dl-color-primary-500);
  font-style: normal;
  font-weight: 500;
}
.users-likes04 {
  flex: 0 0 auto;
  width: 10%;
  height: var(--dl-size-size-small);
  display: flex;
  align-items: center;
  border-color: var(--dl-color-gray-500);
  border-width: 1px;
  padding-left: var(--dl-space-space-halfunit);
  padding-right: var(--dl-space-space-halfunit);
  flex-direction: column;
  justify-content: center;
}
.users-text29 {
  color: var(--dl-color-primary-500);
  font-style: normal;
  font-weight: 500;
}
.users-tt06 {
  flex: 0 0 auto;
  width: 4%;
  height: var(--dl-size-size-small);
  display: flex;
  align-items: center;
  border-color: var(--dl-color-gray-500);
  border-width: 1px;
  padding-left: var(--dl-space-space-halfunit);
  padding-right: var(--dl-space-space-halfunit);
  flex-direction: column;
  justify-content: center;
}
.users-text30 {
  color: var(--dl-color-primary-500);
  font-style: normal;
  font-weight: 500;
}
.users-yt2 {
  flex: 0 0 auto;
  width: 4%;
  height: var(--dl-size-size-small);
  display: flex;
  align-items: center;
  border-color: var(--dl-color-gray-500);
  border-width: 1px;
  padding-left: var(--dl-space-space-halfunit);
  padding-right: var(--dl-space-space-halfunit);
  flex-direction: column;
  justify-content: center;
}
.users-text31 {
  color: var(--dl-color-primary-500);
  font-style: normal;
  font-weight: 500;
}
.users-fb2 {
  flex: 0 0 auto;
  width: 4%;
  height: var(--dl-size-size-small);
  display: flex;
  align-items: center;
  border-color: var(--dl-color-gray-500);
  border-width: 1px;
  padding-left: var(--dl-space-space-halfunit);
  padding-right: var(--dl-space-space-halfunit);
  flex-direction: column;
  justify-content: center;
}
.users-text32 {
  color: var(--dl-color-primary-500);
  font-style: normal;
  font-weight: 500;
}
.users-tt07 {
  flex: 0 0 auto;
  width: 4%;
  height: var(--dl-size-size-small);
  display: flex;
  align-items: center;
  border-color: var(--dl-color-gray-500);
  border-width: 1px;
  padding-left: var(--dl-space-space-halfunit);
  padding-right: var(--dl-space-space-halfunit);
  flex-direction: column;
  justify-content: center;
}
.users-text33 {
  color: var(--dl-color-primary-500);
  font-style: normal;
  font-weight: 500;
}
.users-tt08 {
  flex: 0 0 auto;
  width: 4%;
  height: var(--dl-size-size-small);
  display: flex;
  align-items: center;
  border-color: var(--dl-color-gray-500);
  border-width: 1px;
  padding-left: var(--dl-space-space-halfunit);
  padding-right: var(--dl-space-space-halfunit);
  flex-direction: column;
  justify-content: center;
}
.users-text34 {
  color: var(--dl-color-primary-500);
  font-style: normal;
  font-weight: 500;
}
.users-likes05 {
  flex: 0 0 auto;
  width: 10%;
  height: var(--dl-size-size-small);
  display: flex;
  align-items: center;
  border-color: var(--dl-color-gray-500);
  border-width: 1px;
  padding-left: var(--dl-space-space-halfunit);
  padding-right: var(--dl-space-space-halfunit);
  flex-direction: column;
  justify-content: center;
}
.users-text35 {
  color: var(--dl-color-primary-500);
  font-style: normal;
  font-weight: 500;
}
.users-vids-40-days2 {
  flex: 0 0 auto;
  width: 10%;
  height: var(--dl-size-size-small);
  display: flex;
  align-items: center;
  border-color: var(--dl-color-gray-500);
  border-width: 1px;
  padding-left: var(--dl-space-space-halfunit);
  padding-right: var(--dl-space-space-halfunit);
  flex-direction: column;
  justify-content: center;
}
.users-text36 {
  color: var(--dl-color-primary-500);
  font-style: normal;
  font-weight: 500;
}
.users-status2 {
  flex: 0 0 auto;
  width: 4%;
  height: var(--dl-size-size-small);
  display: flex;
  align-items: center;
  border-color: var(--dl-color-gray-500);
  border-width: 1px;
  padding-left: var(--dl-space-space-halfunit);
  padding-right: var(--dl-space-space-halfunit);
  flex-direction: column;
  justify-content: center;
}
.users-text37 {
  color: var(--dl-color-primary-500);
  font-style: normal;
  font-weight: 500;
}
.users-table-row2 {
  flex: 0 0 auto;
  width: 100%;
  height: var(--dl-size-size-small);
  display: flex;
  align-items: center;
  padding-top: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  justify-content: flex-start;
}
.users-user-id3 {
  flex: 0 0 auto;
  width: 12%;
  height: var(--dl-size-size-small);
  display: flex;
  align-items: center;
  border-color: var(--dl-color-gray-500);
  border-width: 1px;
  padding-left: var(--dl-space-space-halfunit);
  padding-right: var(--dl-space-space-halfunit);
  flex-direction: column;
  justify-content: center;
}
.users-text38 {
  color: var(--dl-color-primary-500);
  align-self: flex-start;
  font-style: normal;
  font-weight: 500;
}
.users-type3 {
  flex: 0 0 auto;
  width: 4%;
  height: var(--dl-size-size-small);
  display: flex;
  align-items: center;
  border-color: var(--dl-color-gray-500);
  border-width: 1px;
  padding-left: var(--dl-space-space-halfunit);
  padding-right: var(--dl-space-space-halfunit);
  flex-direction: column;
  justify-content: center;
}
.users-text39 {
  color: var(--dl-color-primary-500);
  font-style: normal;
  font-weight: 500;
}
.users-uploads3 {
  flex: 0 0 auto;
  width: 10%;
  height: var(--dl-size-size-small);
  display: flex;
  align-items: center;
  border-color: var(--dl-color-gray-500);
  border-width: 1px;
  padding-left: var(--dl-space-space-halfunit);
  padding-right: var(--dl-space-space-halfunit);
  flex-direction: column;
  justify-content: center;
}
.users-text40 {
  color: var(--dl-color-primary-500);
  font-style: normal;
  font-weight: 500;
}
.users-downloads3 {
  flex: 0 0 auto;
  width: 10%;
  height: var(--dl-size-size-small);
  display: flex;
  align-items: center;
  border-color: var(--dl-color-gray-500);
  border-width: 1px;
  padding-left: var(--dl-space-space-halfunit);
  padding-right: var(--dl-space-space-halfunit);
  flex-direction: column;
  justify-content: center;
}
.users-text41 {
  color: var(--dl-color-primary-500);
  font-style: normal;
  font-weight: 500;
}
.users-views3 {
  flex: 0 0 auto;
  width: 10%;
  height: var(--dl-size-size-small);
  display: flex;
  align-items: center;
  border-color: var(--dl-color-gray-500);
  border-width: 1px;
  padding-left: var(--dl-space-space-halfunit);
  padding-right: var(--dl-space-space-halfunit);
  flex-direction: column;
  justify-content: center;
}
.users-text42 {
  color: var(--dl-color-primary-500);
  font-style: normal;
  font-weight: 500;
}
.users-likes06 {
  flex: 0 0 auto;
  width: 10%;
  height: var(--dl-size-size-small);
  display: flex;
  align-items: center;
  border-color: var(--dl-color-gray-500);
  border-width: 1px;
  padding-left: var(--dl-space-space-halfunit);
  padding-right: var(--dl-space-space-halfunit);
  flex-direction: column;
  justify-content: center;
}
.users-text43 {
  color: var(--dl-color-primary-500);
  font-style: normal;
  font-weight: 500;
}
.users-tt09 {
  flex: 0 0 auto;
  width: 4%;
  height: var(--dl-size-size-small);
  display: flex;
  align-items: center;
  border-color: var(--dl-color-gray-500);
  border-width: 1px;
  padding-left: var(--dl-space-space-halfunit);
  padding-right: var(--dl-space-space-halfunit);
  flex-direction: column;
  justify-content: center;
}
.users-text44 {
  color: var(--dl-color-primary-500);
  font-style: normal;
  font-weight: 500;
}
.users-yt3 {
  flex: 0 0 auto;
  width: 4%;
  height: var(--dl-size-size-small);
  display: flex;
  align-items: center;
  border-color: var(--dl-color-gray-500);
  border-width: 1px;
  padding-left: var(--dl-space-space-halfunit);
  padding-right: var(--dl-space-space-halfunit);
  flex-direction: column;
  justify-content: center;
}
.users-text45 {
  color: var(--dl-color-primary-500);
  font-style: normal;
  font-weight: 500;
}
.users-fb3 {
  flex: 0 0 auto;
  width: 4%;
  height: var(--dl-size-size-small);
  display: flex;
  align-items: center;
  border-color: var(--dl-color-gray-500);
  border-width: 1px;
  padding-left: var(--dl-space-space-halfunit);
  padding-right: var(--dl-space-space-halfunit);
  flex-direction: column;
  justify-content: center;
}
.users-text46 {
  color: var(--dl-color-primary-500);
  font-style: normal;
  font-weight: 500;
}
.users-tt10 {
  flex: 0 0 auto;
  width: 4%;
  height: var(--dl-size-size-small);
  display: flex;
  align-items: center;
  border-color: var(--dl-color-gray-500);
  border-width: 1px;
  padding-left: var(--dl-space-space-halfunit);
  padding-right: var(--dl-space-space-halfunit);
  flex-direction: column;
  justify-content: center;
}
.users-text47 {
  color: var(--dl-color-primary-500);
  font-style: normal;
  font-weight: 500;
}
.users-tt11 {
  flex: 0 0 auto;
  width: 4%;
  height: var(--dl-size-size-small);
  display: flex;
  align-items: center;
  border-color: var(--dl-color-gray-500);
  border-width: 1px;
  padding-left: var(--dl-space-space-halfunit);
  padding-right: var(--dl-space-space-halfunit);
  flex-direction: column;
  justify-content: center;
}
.users-text48 {
  color: var(--dl-color-primary-500);
  font-style: normal;
  font-weight: 500;
}
.users-likes07 {
  flex: 0 0 auto;
  width: 10%;
  height: var(--dl-size-size-small);
  display: flex;
  align-items: center;
  border-color: var(--dl-color-gray-500);
  border-width: 1px;
  padding-left: var(--dl-space-space-halfunit);
  padding-right: var(--dl-space-space-halfunit);
  flex-direction: column;
  justify-content: center;
}
.users-text49 {
  color: var(--dl-color-primary-500);
  font-style: normal;
  font-weight: 500;
}
.users-vids-40-days3 {
  flex: 0 0 auto;
  width: 10%;
  height: var(--dl-size-size-small);
  display: flex;
  align-items: center;
  border-color: var(--dl-color-gray-500);
  border-width: 1px;
  padding-left: var(--dl-space-space-halfunit);
  padding-right: var(--dl-space-space-halfunit);
  flex-direction: column;
  justify-content: center;
}
.users-text50 {
  color: var(--dl-color-primary-500);
  font-style: normal;
  font-weight: 500;
}
.users-status3 {
  flex: 0 0 auto;
  width: 4%;
  height: var(--dl-size-size-small);
  display: flex;
  align-items: center;
  border-color: var(--dl-color-gray-500);
  border-width: 1px;
  padding-left: var(--dl-space-space-halfunit);
  padding-right: var(--dl-space-space-halfunit);
  flex-direction: column;
  justify-content: center;
}
.users-text51 {
  color: var(--dl-color-primary-500);
  font-style: normal;
  font-weight: 500;
}
.users-table-row3 {
  flex: 0 0 auto;
  width: 100%;
  height: var(--dl-size-size-small);
  display: flex;
  align-items: center;
  padding-top: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  justify-content: flex-start;
}
.users-user-id4 {
  flex: 0 0 auto;
  width: 12%;
  height: var(--dl-size-size-small);
  display: flex;
  align-items: center;
  border-color: var(--dl-color-gray-500);
  border-width: 1px;
  padding-left: var(--dl-space-space-halfunit);
  padding-right: var(--dl-space-space-halfunit);
  flex-direction: column;
  justify-content: center;
}
.users-text52 {
  color: var(--dl-color-primary-500);
  align-self: flex-start;
  font-style: normal;
  font-weight: 500;
}
.users-type4 {
  flex: 0 0 auto;
  width: 4%;
  height: var(--dl-size-size-small);
  display: flex;
  align-items: center;
  border-color: var(--dl-color-gray-500);
  border-width: 1px;
  padding-left: var(--dl-space-space-halfunit);
  padding-right: var(--dl-space-space-halfunit);
  flex-direction: column;
  justify-content: center;
}
.users-text53 {
  color: var(--dl-color-primary-500);
  font-style: normal;
  font-weight: 500;
}
.users-uploads4 {
  flex: 0 0 auto;
  width: 10%;
  height: var(--dl-size-size-small);
  display: flex;
  align-items: center;
  border-color: var(--dl-color-gray-500);
  border-width: 1px;
  padding-left: var(--dl-space-space-halfunit);
  padding-right: var(--dl-space-space-halfunit);
  flex-direction: column;
  justify-content: center;
}
.users-text54 {
  color: var(--dl-color-primary-500);
  font-style: normal;
  font-weight: 500;
}
.users-downloads4 {
  flex: 0 0 auto;
  width: 10%;
  height: var(--dl-size-size-small);
  display: flex;
  align-items: center;
  border-color: var(--dl-color-gray-500);
  border-width: 1px;
  padding-left: var(--dl-space-space-halfunit);
  padding-right: var(--dl-space-space-halfunit);
  flex-direction: column;
  justify-content: center;
}
.users-text55 {
  color: var(--dl-color-primary-500);
  font-style: normal;
  font-weight: 500;
}
.users-views4 {
  flex: 0 0 auto;
  width: 10%;
  height: var(--dl-size-size-small);
  display: flex;
  align-items: center;
  border-color: var(--dl-color-gray-500);
  border-width: 1px;
  padding-left: var(--dl-space-space-halfunit);
  padding-right: var(--dl-space-space-halfunit);
  flex-direction: column;
  justify-content: center;
}
.users-text56 {
  color: var(--dl-color-primary-500);
  font-style: normal;
  font-weight: 500;
}
.users-likes08 {
  flex: 0 0 auto;
  width: 10%;
  height: var(--dl-size-size-small);
  display: flex;
  align-items: center;
  border-color: var(--dl-color-gray-500);
  border-width: 1px;
  padding-left: var(--dl-space-space-halfunit);
  padding-right: var(--dl-space-space-halfunit);
  flex-direction: column;
  justify-content: center;
}
.users-text57 {
  color: var(--dl-color-primary-500);
  font-style: normal;
  font-weight: 500;
}
.users-tt12 {
  flex: 0 0 auto;
  width: 4%;
  height: var(--dl-size-size-small);
  display: flex;
  align-items: center;
  border-color: var(--dl-color-gray-500);
  border-width: 1px;
  padding-left: var(--dl-space-space-halfunit);
  padding-right: var(--dl-space-space-halfunit);
  flex-direction: column;
  justify-content: center;
}
.users-text58 {
  color: var(--dl-color-primary-500);
  font-style: normal;
  font-weight: 500;
}
.users-yt4 {
  flex: 0 0 auto;
  width: 4%;
  height: var(--dl-size-size-small);
  display: flex;
  align-items: center;
  border-color: var(--dl-color-gray-500);
  border-width: 1px;
  padding-left: var(--dl-space-space-halfunit);
  padding-right: var(--dl-space-space-halfunit);
  flex-direction: column;
  justify-content: center;
}
.users-text59 {
  color: var(--dl-color-primary-500);
  font-style: normal;
  font-weight: 500;
}
.users-fb4 {
  flex: 0 0 auto;
  width: 4%;
  height: var(--dl-size-size-small);
  display: flex;
  align-items: center;
  border-color: var(--dl-color-gray-500);
  border-width: 1px;
  padding-left: var(--dl-space-space-halfunit);
  padding-right: var(--dl-space-space-halfunit);
  flex-direction: column;
  justify-content: center;
}
.users-text60 {
  color: var(--dl-color-primary-500);
  font-style: normal;
  font-weight: 500;
}
.users-tt13 {
  flex: 0 0 auto;
  width: 4%;
  height: var(--dl-size-size-small);
  display: flex;
  align-items: center;
  border-color: var(--dl-color-gray-500);
  border-width: 1px;
  padding-left: var(--dl-space-space-halfunit);
  padding-right: var(--dl-space-space-halfunit);
  flex-direction: column;
  justify-content: center;
}
.users-text61 {
  color: var(--dl-color-primary-500);
  font-style: normal;
  font-weight: 500;
}
.users-tt14 {
  flex: 0 0 auto;
  width: 4%;
  height: var(--dl-size-size-small);
  display: flex;
  align-items: center;
  border-color: var(--dl-color-gray-500);
  border-width: 1px;
  padding-left: var(--dl-space-space-halfunit);
  padding-right: var(--dl-space-space-halfunit);
  flex-direction: column;
  justify-content: center;
}
.users-text62 {
  color: var(--dl-color-primary-500);
  font-style: normal;
  font-weight: 500;
}
.users-likes09 {
  flex: 0 0 auto;
  width: 10%;
  height: var(--dl-size-size-small);
  display: flex;
  align-items: center;
  border-color: var(--dl-color-gray-500);
  border-width: 1px;
  padding-left: var(--dl-space-space-halfunit);
  padding-right: var(--dl-space-space-halfunit);
  flex-direction: column;
  justify-content: center;
}
.users-text63 {
  color: var(--dl-color-primary-500);
  font-style: normal;
  font-weight: 500;
}
.users-vids-40-days4 {
  flex: 0 0 auto;
  width: 10%;
  height: var(--dl-size-size-small);
  display: flex;
  align-items: center;
  border-color: var(--dl-color-gray-500);
  border-width: 1px;
  padding-left: var(--dl-space-space-halfunit);
  padding-right: var(--dl-space-space-halfunit);
  flex-direction: column;
  justify-content: center;
}
.users-text64 {
  color: var(--dl-color-primary-500);
  font-style: normal;
  font-weight: 500;
}
.users-status4 {
  flex: 0 0 auto;
  width: 4%;
  height: var(--dl-size-size-small);
  display: flex;
  align-items: center;
  border-color: var(--dl-color-gray-500);
  border-width: 1px;
  padding-left: var(--dl-space-space-halfunit);
  padding-right: var(--dl-space-space-halfunit);
  flex-direction: column;
  justify-content: center;
}
.users-text65 {
  color: var(--dl-color-primary-500);
  font-style: normal;
  font-weight: 500;
}
.users-container2 {
  flex: 0 0 auto;
  width: 100%;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: 100px;
  display: flex;
  align-items: flex-start;
}
