.thumbnail-mob-container {
  flex: 0 0 auto;
  width: 135px;
  margin: var(--dl-space-space-halfunit);
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
}
.thumbnail-mob-video {
  width: 135px;
  height: 180px;
  margin: 0px;
  padding: 0px;
  border-color: var(--dl-color-gray-700);
  border-width: 1px;
}
.thumbnail-mob-container1 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  padding: var(--dl-space-space-halfunit);
  align-items: flex-start;
  flex-direction: column;
}
.thumbnail-mob-id-author {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  padding: 0px;
  margin-top: var(--dl-space-space-halfunit);
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-halfunit);
  padding-right: var(--dl-space-space-halfunit);
  padding-bottom: var(--dl-space-space-halfunit);
  justify-content: space-between;
}
.thumbnail-mob-text {
  font-size: 9px;
}
.thumbnail-mob-text1 {
  font-size: 9px;
  font-style: normal;
  font-weight: 700;
}
.thumbnail-mob-button {
  color: var(--dl-color-primary-100);
  padding: 0px;
  font-size: 12px;
  align-self: center;
  font-style: normal;
  font-weight: 700;
  border-width: 0px;
  background-color: transparent;
}




















@media(max-width: 479px) {
  .thumbnail-mob-container {
    width: 135px;
    height: auto;
    margin: var(--dl-space-space-halfunit);
  }
  .thumbnail-mob-video {
    width: 135px;
    height: 180px;
    margin: 0px;
    border-color: var(--dl-color-gray-700);
    border-width: 0.5px;
  }
  .thumbnail-mob-id-author {
    height: auto;
    padding: var(--dl-space-space-halfunit);
    justify-content: space-between;
  }
  .thumbnail-mob-text {
    font-size: 9px;
    align-self: center;
    font-style: normal;
    margin-top: 0px;
    font-weight: 500;
  }
  .thumbnail-mob-text1 {
    font-size: 9px;
  }
  .thumbnail-mob-button {
    color: var(--dl-color-primary-100);
    padding: 0px;
    font-size: 12px;
    align-self: center;
    border-width: 0px;
    background-color: transparent;
  }
}
